<div class="nav">
    <div class="sb-sidenav-menu-heading">Core</div>
    <a class="nav-link" href="/">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        დეშბორდი
    </a>
    <div class="sb-sidenav-menu-heading">Pages</div>
    <a class="nav-link" href="/account/addaccount">
        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
        დომენის დამატება
    </a>
    <a class="nav-link" href="/company">
        <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
        კომპანიები
    </a>
    <a class="nav-link" href="/package">
        <div class="sb-nav-link-icon"><i class="fas fa-box-open"></i></div>
        პაკეტები
    </a>
    <a class="nav-link" href="/price">
        <div class="sb-nav-link-icon"><i class="fas fa-credit-card"></i></div>
        ფასები
    </a>
    <a class="nav-link" href="/term">
        <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
        ვადები
    </a>
    <a class="nav-link" href="/auth/register">
        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
        მომხმარებელი
    </a>
</div>