@model RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<div id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h4 class="text-center font-weight-light my-4">ადმინისტრატორის დამატება</h4></div>
                        <div class="card-body">
                            <form asp-action="Register" method="post">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Firstname" class="small mb-1" for="inputFirstName">სახელი</label>
                                            <input asp-for="Firstname" class="form-control py-4" id="inputFirstName" type="text" placeholder="ჩაწერე სახელი" />
                                            <span asp-validation-for="Firstname" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Lastname" class="small mb-1" for="inputLastName">გვარი</label>
                                            <input asp-for="Lastname" class="form-control py-4" id="inputLastName" type="text" placeholder="ჩაწერე გვარი" />
                                            <span asp-validation-for="Lastname" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="small mb-1" for="inputEmailAddress">ელ-ფოსტა</label>
                                    <input asp-for="Email" class="form-control py-4" id="inputEmailAddress" type="text" aria-describedby="emailHelp" placeholder="ჩაწერე ელ-ფოსტა" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Password" class="small mb-1" for="inputPassword">პაროლი</label>
                                            <input asp-for="Password" class="form-control py-4" id="inputPassword" type="password" placeholder="ჩაწერე პაროლი" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword" class="small mb-1" for="inputConfirmPassword">პაროლი განმეორებით</label>
                                            <input asp-for="ConfirmPassword" class="form-control py-4" id="inputConfirmPassword" type="password" placeholder="დაადასტურე პაროლი" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4 mb-0">
                                    <input type="submit" class="btn btn-primary btn-block" value="მომხმარებლის შექმნა"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
