@model Package

@{ ViewData["Title"] = "პაკეტის რედაქტირება"; }


<div id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h4 class="text-center font-weight-light">პაკეტის რედაქტირება</h4></div>
                        <div class="card-body">
                            <form asp-action="UpdatePackage" method="post">
                                <input type="hidden" asp-for="Id" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Name" class="small mb-1">პაკეტის სახელი</label>
                                        <input asp-for="Name" class="form-control py-3" type="text" placeholder="ჩაწერე სახელი" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Description" class="small mb-1">პაკეტის აღწერა</label>
                                        <input asp-for="Description" class="form-control py-3" type="text" placeholder="ჩაწერე აღწერა" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Capacity" class="small mb-1">პაკეტის მოცულობა</label>
                                        <input asp-for="Capacity" class="form-control py-3" type="text" placeholder="ჩაწერე მოცულობა" />
                                        <span asp-validation-for="Capacity" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group mt-4 mb-0">
                                    <input type="submit" class="btn btn-primary btn-block" value="პაკეტის რედაქტირება" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
