@model IList<Term>
@{
    ViewData["Title"] = "ვადები";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">ვადები</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                ვადები
                <a href="/term/addterm">
                    <i class="fas fa-plus"></i>
                    <span class="ml-2">დამატება</span>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ვადა (თვეები)</th>
                                <th>მოქმედება</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model)
                            {
                                <tr>
                                    <td>@item.Value თვე</td>
                                    <td class="actions">
                                        <a class="sb-nav-link-icon" href="/term/editterm/@item.Id">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="/term/deleteterm/@item.Id" class="sb-nav-link-icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
