span.nav-user {
    color: #fff !important;
    cursor: pointer;
    user-select:none;
}

@media screen and (max-width: 768px) {
    span.nav-user {
        display: none
    }
}

.actions {
    display: flex;
    justify-content: space-around;
}