@model IList<Price>
@{
    ViewData["Title"] = "ფასები";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">ფასები</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                ფასები
                <a href="/price/addprice"><i class="fas fa-plus ml-3"></i></a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ფასი</th>
                                <th>პაკეტი</th>
                                <th>ვადა</th>
                                <th>მოქმედება</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model)
                            {
                                <tr>
                                    <td>@item.PriceValue</td>
                                    <td>@item.Package.Name</td>
                                    <td>@item.Term.Value</td>
                                    <td class="actions">
                                        <a class="sb-nav-link-icon" href="/price/editprice/@item.Id">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="/price/deleteprice/@item.Id" class="sb-nav-link-icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
